[package]
name = "layout_optimisation"
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
