name: Exaustive Tests

on:
  schedule:
    # 1 of the month
    - cron:  '0 0 1 * *'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0 

jobs:
  build:
    runs-on: ubuntu-latest
    name: Tests on rust ${{ matrix.version }} features "${{ matrix.features }}" floats "${{ matrix.f }}"
    strategy:
      matrix:
        version: [
          "nightly",
          "beta",
          "stable",
          "1.86",
          "1.85",
          "1.84",
          "1.83",
          "1.82",
          "1.70",
        ]
        release: [
          "",
          "--release",
        ]
        f: [
          "f32",
          "f64",
          "f32,f64",
        ]
        features: [
            "",
            "std",
            "serde",
            "libm",
            "std,serde",
            "std,libm",
            "serde,libm",
            "std,serde,libm",
        ]

    steps:
      - uses: actions/checkout@v4
      - run: rustup default ${{ matrix.version }}
      - run: cd typed_floats && cargo build --no-default-features --features "${{ matrix.features }},${{ matrix.f }}" ${{ matrix.release }}
      - run: cd typed_floats && cargo test --no-default-features --features "${{ matrix.features }},${{ matrix.f }}" ${{ matrix.release }}
